.btn {
    border-radius: 4px;
    border: 0;
    outline: 0;
    padding: 8px 16px;
    background-color: transparent;
    transition: 0.2s all;
}

.btn.fill {
    background-color: var(--primary);
    color: var(--text);
}

.btn.fill:hover{
    transform: scale(1.05);
}

.btn.fill:active{
    background-color: var(--secondary);
}

.btn.stroke {
    border: 1px solid var(--text);
}

.btn.stroke:active{
    transform: scale(0.95);
}